<!-- <form [formGroup]="form" (ngSubmit)="onSubmit(model)">
  <dynamic-form [form]="form" [fields]="fields" [model]="model"></dynamic-form>
  <button type="submit" class="btn btn-default">Submit</button>
</form> -->

<!-- <form [formGroup]="form" (ngSubmit)="submit()">
  <dynamic-form
    [model]="model"
    [fields]="fields"
    [options]="options"
    [form]="form"
  ></dynamic-form>
  <button type="submit" class="btn btn-primary submit-button">Submit</button>
  <button type="button" class="btn btn-default" (click)="options.resetModel()">
    Reset
  </button>
</form> -->

<form class="basic-container" [formGroup]="form" (ngSubmit)="submit(form)">
  <dynamic-form
    [model]="model"
    [fields]="fields"
    [options]="options"
    [form]="form"
  >
  </dynamic-form>
  <button>Submit</button>
</form>
